div.end-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 10px;
    height: 200px;
    width: 350px;
    font-size: 30px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

div.end-screen span.num-guesses {
    font-family: 'Pokemon Filled';
}

div.end-screen hr {
    border-top: 1px solid var(--text-color);
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;

    width: 80%;
}

div.end-screen div.play-again {
    cursor: pointer;
}

div.end-screen div.play-again:active {
    transform: scale(0.9);
}

/* --- CSS Transition --- */
div.end-screen.enter {
    opacity: 0;
}

div.end-screen.enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

div.end-screen.enter-done {
    opacity: 1;
}

div.end-screen.exit {
    opacity: 1;
}

div.end-screen.exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

div.end-screen.exit-done {
    opacity: 0;
}
/* --------------------- */
