div.game-screen {
    opacity: 0;
}

/* --- CSS Transition --- */
div.game-screen.enter {
    opacity: 0;
}

div.game-screen.enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

div.game-screen.enter-done {
    opacity: 1;
}

div.game-screen.exit {
    opacity: 1;
}

div.game-screen.exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

div.game-screen.exit-done {
    opacity: 0;
}
/* --------------------- */

div.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 80vh;
    width: 80vw;

    display: grid;
    grid-gap: 50px 100px;
}

div.card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* --- Header styling ---  */
/*div.header {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    top: 2%;*/

/*    display: flex;*/
/*    align-items: center;*/
/*    gap: 30px;*/

/*    height: 70px;*/
/*}*/

div.game-speed {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 25px;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 30px;
}

div.game-speed * {
    cursor: pointer;
}

div.game-speed div.selected {
    font-family: 'Pokemon Filled';
}

div.score-board {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 25px;

    display: flex;
    align-items: center;
    gap: 20px;
}

div.num-guesses.current {
    font-weight: bold;
    flex: 1;
}

div.num-guesses.best {
    font-weight: bold;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.to-menu-icon {
    height: 35px;

    position: absolute;
    top: 3%;
    right: 2%;

    cursor: pointer;
}
.to-menu-icon:active {
    transform: scale(0.9);
}
