div.game-screen {
    opacity: 0;
}

/* --- CSS Transition --- */
div.game-screen.enter {
    opacity: 0;
}

div.game-screen.enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

div.game-screen.enter-done {
    opacity: 1;
}

div.game-screen.exit {
    opacity: 1;
}

div.game-screen.exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

div.game-screen.exit-done {
    opacity: 0;
}
/* --------------------- */

div.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 80vh;
    width: 80vw;

    display: grid;
    gap: 5px;
    /*grid-template-rows: repeat(3, 1fr);*/
    /*grid-template-columns: repeat(4, 1fr);*/
}

div.card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div.num-guesses {
    position: absolute;
    top: 2%;
    right: 3%;
    font-family: 'Pokemon Hollow';
    font-size: 16px;
    font-weight: bold;

    background: rgba(255, 0, 0, 0.3);
    border: 1px solid rgb(28, 38, 80);
    -webkit-box-shadow: 0 0 10px 3px rgb(28, 38, 80);
    box-shadow: 0 0 10px 3px rgb(28, 38, 80);
    color: rgb(28, 38, 80);
    border-radius: 10px;
    padding: 10px;
}

div.game-speed {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 20px;
    font-weight: bold;
    color: rgb(28, 38, 80);

    display: flex;
    gap: 30px;
}

div.game-speed * {
    cursor: pointer;
}

div.game-speed div.selected {
    font-family: 'Pokemon Filled';
}

.replay {
    position: absolute;
    top: 3%;
    left: 2%;

    color: rgb(28, 38, 80);

    cursor: pointer;
}
.replay:active {
    transform: scale(0.9);
}
