div.loading-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100px;
    width: 300px;
    font-size: 30px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- CSS Transition --- */
div.loading-screen.enter {
    opacity: 0;
}

div.loading-screen.enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

div.loading-screen.enter-done {
    opacity: 1;
}

div.loading-screen.exit {
    opacity: 1;
}

div.loading-screen.exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

div.loading-screen.exit-done {
    opacity: 0;
}
/* --------------------- */
