div.modal.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 250px;
    width: 400px;
    font-size: 30px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div.menu div.start,
div.menu div.difficulty-options > * {
    cursor: pointer;
}

div.menu div.difficulty-options > *.selected {
    font-family: 'Pokemon Filled';
}

div.difficulty-options {
    display: flex;
    gap: 20px;
}

div.menu div.start:active {
    transform: scale(0.9);
}

/* --- CSS Transition --- */
div.menu.appear {
    opacity: 0;
}

div.menu.appear-active {
    opacity: 1;
    transition: opacity 500ms;
}

div.menu.enter {
    opacity: 0;
}

div.menu.enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

div.menu.enter-done {
    opacity: 1;
}

div.menu.exit {
    opacity: 1;
}

div.menu.exit-active {
    opacity: 0;
    transition: opacity 1s;
}

div.menu.exit-done {
    opacity: 0;
}

/* --------------------- */
